@import "../vars.scss";

#leftPanel {
  width: 320px;
  height: 100vh;
  background-color: $mainDark;
  overflow: hidden;
  &.collapsed {
    width: 50px !important;
    align-items: center;
    .leftPanelBody > div > *:not(:first-child) {
      display: none !important;
    }
    .leftPanelBody > div {
      justify-content: center;
      > *:first-child {
        padding: 0;
      }
    }
    button {
      > svg,
      > span {
        margin: 0;
      }
    }
  }
  .menuToggleIcon {
    right: 0;
  }
  .leftPanelBody {
    // min-width: 320px;
    > * {
      margin: 10px 0;
    }
    .profile {
      img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
      }
      h5 {
        color: $white;
      }
      span {
        color: $mainText;
      }
    }
    .searchBox {
        div {
          min-height: 50px;
          label {
            text-indent: 30px;
          }
          width: fill-available;
          #search {
            color: $white;
            text-indent: 30px;
            cursor: pointer;
            &::placeholder {
              left: 30px;
            }
          }
          div {
            &::after {
              border-color: $white;
            }
            &::before {
              border-color: $mainText;
            }
          }
          label {
            color: $mainText;
            &.Mui-focused {
              color: $white;
            }
          }
      }
      svg {
        color: $mainText;
      }
    }
    button {
      border-color: $mainText;
      color: $mainText;
      min-width: unset;
    }
  }
  hr {
    color: $white;
  }
}
