@import "../vars.scss";

#taskList {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  flex: 1;
  background-color: $mainDark;
  max-height: 100vh;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    width: 7px;
    background-color: $mainText;
  }

  &::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px $mainDark;
    background-color: $mainLight;
  }
  .myDayTitle {
    * {
      color: inherit;
    }
  }
  #tasks {
    flex: 1;
    .task {
      .exactTask {
        cursor: pointer;
        color: $mainText;
        border: solid 1px;
        flex: 1;
        span {
          font-size: 13px;
          margin: 3px;
          svg {
            font-size: 13px;
          }
        }
      }
    }
    > :last-child {
      margin-top: 15px;
      background-color: unset;
      color: $mainText;
      #panel1a-header {
        svg {
          color: $mainText;
        }
      }
      div div div h6 {
        text-decoration: line-through;
      }
    }
  }
  .addTaskBox {
    position: sticky;
    bottom: 0;
    div {
      min-height: 50px;
      label {
        text-indent: 30px;
      }
      width: fill-available;
      background: $mainDark;
      #addTaskInput {
        color: inherit;
        text-indent: 30px;
        cursor: pointer;
        &::placeholder {
          left: 30px;
        }
      }
      div {
        &::after {
          border-color: $white;
        }
        &::before {
          border-color: $mainText;
        }
      }
      label {
        color: $mainText;
        &.Mui-focused {
          color: inherit;
        }
      }
    }
    svg {
      color: $mainText;
    }
  }
}

.themePopup {
  li {
    width: 100px;
    height: 25px;
    border: $mainDark solid;
    &:hover {
      border-color: $mainText;
    }
  }
}

@media (max-width: 768px) {
  #taskList {
    >:first-child {
      padding-left: 70px !important;
    }
  }
}
