@import "../vars.scss";

#rightPanel {
  max-width: 320px;
  flex: 1;
  height: 100vh;
  background-color: $mainLight;
  overflow: hidden;
  &.collapsed {
    max-width: 0px !important;
    align-items: center;
    .rightPanelBody > div > *:not(:first-child) {
      display: none !important;
    }
    .rightPanelBody > div {
      justify-content: center;
      > *:first-child {
        padding: 0;
      }
    }
    button {
      > svg,
      > span {
        margin: 0;
      }
    }
  }
  .menuToggleIcon {
    right: 0;
  }
  .rightPanelBody {
    // min-width: 320px;
    > * {
      margin: 10px 0;
    }
    .profile {
      img {
        border-radius: 50%;
        width: 45px;
        height: 45px;
      }
      h5 {
        color: $white;
      }
      span {
        color: $mainText;
      }
    }
    .searchBox {
      div {
        min-height: 50px;
        label {
          text-indent: 30px;
        }
        width: fill-available;
        #search {
          color: $white;
          text-indent: 30px;
          cursor: pointer;
          &::placeholder {
            left: 30px;
          }
        }
        div {
          &::after {
            border-color: $white;
          }
          &::before {
            border-color: $mainText;
          }
        }
        label {
          color: $mainText;
          &.Mui-focused {
            color: $white;
          }
        }
      }
      svg {
        color: $mainText;
      }
    }
    button {
      border-color: $mainText;
      color: $mainText;
      min-width: unset;
    }
  }
  hr {
    color: $white;
  }
}

.popupMenu {
  div {
    &::before {
      background-color: $mainDark;
    }
    ul {
      background-color: $mainDark;
      li {
        color: $mainText;
        svg {
          color: $mainText;
        }
      }
    }
  }
}
