@import "../vars.scss";

#rightPanel {
  max-width: 320px;
  flex: 1;
  height: 100vh;
  background-color: $mainLight;
  overflow: hidden;
  &.collapsed {
    max-width: 0px;
  }
  .task {
    * {
      color: $mainText;
    }
  }
  > * {
    margin: 10px 0;
  }
  #notesParent {
    > div {
      width: 100%;

      #notes {
        color: $white;
      }
      label {
        background-color: $mainLight;
        padding: 0 5px 10px;
        &.Mui-focused {
          top: -4px;
        }
      }
      fieldset {
        border-color: $white;
      }
      label {
        color: $mainText;
        &.Mui-focused {
          color: $white;
        }
      }
    }
    svg {
      color: $mainText;
    }
  }
  button, div {
    * {
      color: $mainText;
      border-color: $mainText;
    }
    legend {
      background-color: $mainLight;
      padding: 10px;
    }
    border-color: $mainText;
    color: $mainText;
  }
  hr {
    color: $white;
  }
  .bottomButtons {
    flex: 1;
    p {
      color: $mainText;
    }
  }
}

.popupMenu {
  div {
    &::before {
      background-color: $mainDark;
    }
    ul {
      background-color: $mainDark;
      li {
        color: $mainText;
        svg {
          color: $mainText;
        }
      }
    }
  }
}
